<div>
    <img src="../../../../assets/resume/portfolio.png" class="resume-image"><span class="resume-h2">EMPLOYMENT HISTORY</span>
    <hr class="solid1">
    <!-- EXP 1  -->
    <div>
        <span class="resume-h2">Crew portal for Luthansa , Nagarro</span>
        <br>
        <span class="resume-date">July 2019 to December 2020 </span>
        <ul>
            <li>
                I along with my team have built a new crew portal for a German-based airline in <strong>angular
                    7</strong> .
            </li>
            <li>
                All the screen I have designed are <strong>responsive</strong> and have different layout based on device
                used, to ensure that it works seamlessly across multiple platforms.
            </li>
            <li>
                Created a custom functionality where users can create a custom form just by drag and drop.
                <strong>Angular CDK drag-drop</strong>
                was used.
            </li>
            <li>
                I have used <strong>ngx-translate</strong> to support Multiple language view based on user preference.
            </li>
            <li>
                Inventory page had item tree and loading time of that page was 2-3sec. To solve this, I have used
                <strong>primeNG tree</strong>
                and only displayed 1st level.
                Children were fetched from DB on expansion of parent. Hence loading time was <strong>reduced by
                    90%.</strong>
            </li>
        </ul>
    </div>

    <!-- EXP 2  -->
    <div>
        <span class="resume-h2">Insurance web page for Client and Agent, Nagarro</span>
        <br>
        <span class="resume-date">January 2020 to Present </span>
        <ul>
            <li>
                Single-handedly delivered frontend tasks for the first 4 sprints. Not only delivered the task on time but also with good quality. 
            </li>
            <li>
                Along with my team, I have created two new environments on Azure, as we moved from on-premise to cloud.
            </li>
            <li>
                I have optimized the application's initial page, by not preloading all the modules. And Identified some
                keys in API responses that are not required. So from the database, those data were not retrieved. Hence
                response from the backend was faster. Both of these in turn <strong>loading time by 60%</strong> .
            </li>
        </ul>
    </div>

    <!-- EXP 3  -->

</div>