<div>
    <img src="../../../../assets/resume/portfolio.png" class="resume-image"><span class="resume-h2">EMPLOYMENT
        HISTORY</span>
    <hr class="solid2">
    <section>

        <!-- EXP 2  -->
        <div>
            <!-- <span>○</span> -->
            <span class="resume-h3">Senior Engineer, Nagarro</span>
            <br>
            <span class="resume-date">2020 - Present </span>
            <ul>
                <li>
                    Single-handedly delivered frontend tasks for the first 4 sprints. Not only delivered the task on
                    time but also with good quality.
                </li>
                <li>
                    Contributed as a front-end developer in developing a new insurance product called GASA. GASA became
                    <strong>second most-sold product</strong> in japan.
                </li>
                <li>
                    Coordinated in the creation of two new environments on <strong>Microsoft Azure</strong>, as we moved
                    from on-premise to cloud.
                </li>
                <li>
                    Implemented lazy-loading strategy which reduced the application's initial page <strong>loading time
                        by 60%</strong> .
                </li>
                <li> 
                    Developed the Frontend section for SULv3(newly added insurance product).
                </li>
            </ul>
        </div>

        <!-- EXP 1  -->
        <div>
            <!-- <span>○</span> -->
            <span class="resume-h3">Associate Engineer, Nagarro</span>
            <br>
            <span class="resume-date">2019 - 2020 </span>
            <ul>
                <li>
                    Developed a new crew portal, along with my team for a German-based airline in <strong>angular
                        7.</strong>
                </li>
                <li>
                    Developed <strong>responsive webpage</strong> that can be used across all devices i.e mobile, iPad,
                    desktop, etc.
                </li>
                <li>
                    Developed a feature by using <strong>Angular CDK drag-drop</strong> to create any custom form just
                    by dragging and dropping form elements.
                </li>
                <li>
                    Provided support for multiple language view by using <strong>ngx-translate</strong>
                </li>
                <li>
                    <strong>Reduced loading</strong> time of inventory tree by 90% . This was achieved by not loading
                    all the data at once but rather loading it on demand.
                    <strong>PrimeNG tree</strong> was used.
                </li>
            </ul>

        </div>

    </section>


</div>