 // text decroation href 
 a {
    padding-top: 4px;
    margin-right: 5px;
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
.techstack{
    padding-left: 20px;
    font-style: italic;
    color: rgb(65, 65, 65);
}

ul{
    margin-bottom: 5px;
    margin-top: 5px;
}

section{
    padding-bottom: 10px;
}