<div>
    <img src="../../../../assets/resume/idea.png" class="resume-image"><span class="resume-h2">SELF-PROJECT</span>
    <hr class="solid2">
    <article>
        <section>
            <a class="resume-h3" href="https://niloy-shopping.netlify.app">Ecommerce website |</a> 
            <a class="resume-h3" href="https://github.com/niloymcs17/Ecommerce-website">GitHub</a>
            <ul>
                <li>
                    Build an e-commerce website on angular 11.
                </li>
                <li>
                    Achieved support for multiple languages by using ngx-translate i.e English and Bengali.
                </li>
                <li>
                    Provided support for multiple screens i.e mobile, tab, and web, making it responsive. 
                </li>
            </ul>
            <div class="techstack">
                Angular • Angular-Material • TypeScript • SCSS • HTML   
            </div>
        </section>
        <section>
            <a class="resume-h3" >Utility Services |</a> 
            <a class="resume-h3" href="https://github.com/niloymcs17/java-microservice">GitHub</a>
            <ul>
                <li>
                    Created are three micro-services i.e Catalogue, Order, and Service provider.
                </li>
                <li>
                    Customers can book a service (painting,ac cleaning, etc). After that service provider will accept or reject the order according to availability.
                </li>
                <li>
                    Improve application availability and responsiveness and prevent server overload by using a Load balancer. 
                </li>
            </ul>
            <div class="techstack">
                Java • Load-Balancer • ApiGateway • micro-service • spring boot  
            </div>
        </section>
    </article>
</div>