<div class=" center top-30">
    <span class="name">NILOY BISWAS |</span>
    <span> FRONTEND DEVELOPER</span>
</div>

<div class="center">
    <img src="../../../../assets/resume/mail.png" class="resume-image">
    <a href="mailto: abc@example.com">{{profile.email}}</a>
    <img src="../../../../assets/resume/phone-call.png" class="resume-image">
    <a href="tel:+917602317189">{{profile.phone}}</a>
    <img src="../../../../assets/resume/github-logo.png" class="resume-image">
    <a href="https://github.com/niloymcs17"> GitHub</a>
    <img src="../../../../assets/resume/linkedin.png" class="resume-image">
    <a href="https://www.linkedin.com/in/niloy-biswas-278685170/">LinkedIn</a>
    <img src="../../../../assets/resume/pin.png" class="resume-image">
    <a>{{profile.address}}</a>
</div>

<br>
<hr class="solid">
<div class="grid-container">
    <article class="grid-item ">
        <app-experience></app-experience>

        <app-projects></app-projects>
    </article>
    <aside class="grid-item ">
        <section>
            <img src="../../../../assets/resume/user.png" class="resume-image"><span class="resume-h2">About</span>
            <hr class="solid1">
        </section>
        <app-skills></app-skills>
        <app-education></app-education>
    </aside>
</div>