<div class=" center top-30">
    <span class="name">NILOY BISWAS |</span>
    <span> FRONTEND DEVELOPER</span>
</div>

<div class="center">
    <img src="../../../../assets/resume/mail.png" class="resume-image">
    <a href="mailto: abc@example.com"> {{profile.email}}</a>
    <img src="../../../../assets/resume/phone-call.png" class="resume-image">
    <a href="tel:+917602317189"> {{profile.phone}}</a>
    <img src="../../../../assets/resume/github-logo.png" class="resume-image">
    <a href="https://github.com/niloymcs17"> GitHub</a>
    <img src="../../../../assets/resume/linkedin.png" class="resume-image">
    <a href="https://www.linkedin.com/in/niloy-biswas-278685170/"> LinkedIn</a>
    <img src="../../../../assets/resume/pin.png" class="resume-image">
    <a> {{profile.address}}</a>
</div>

<br>
<hr class="solid">
<div class="grid-container">
    <article class="grid-item ">
        <app-experience></app-experience>

        <app-projects></app-projects>
    </article>
    <aside class="grid-item ">
        <div>
            <img src="../../../../assets/resume/user.png" class="resume-image">
            <span class="resume-h2">SUMMARY</span>
            <hr class="solid2">
            <article style="padding: 10px;">Senior Engineer at Nagarro, with proven experience in helping companies
                create and maintain a better
                code base for reusability. Capable of continuous learning from senior developers and also mentored
                juniors. Eager to tackle more complex problems and continue to
                find ways to maximize user efficiency.
                I have worked on multiple projects that follow Agile software development.
            </article>
        </div>
        <app-skills></app-skills>
        <app-education></app-education>
        <section>
            <br>
            <img src="../../../../assets/resume/certificate.png" class="resume-image">
            <span class="resume-h2">CERTIFICATION</span>
            <hr class="solid2">
            <ul>
                <li>
                    <a href="https://www.udemy.com/certificate/UC-4c816a6a-3065-49a6-9516-64e4d0780637/"> Kubernetes for
                        the Absolute Beginners - Hands-on.</a>
                </li>
                <li>
                    <a href="https://www.udemy.com/certificate/UC-4de29d5e-304a-4330-975e-79b720c86b37/"> The Complete
                        2022 Web Development Bootcamp.</a>
                </li>
            </ul>
        </section>
    </aside>
</div>