<div>
    <img src="../../../../assets/resume/college-graduation.png" class="resume-image">
    <span class="resume-h2">EDUCATION</span>
    <hr class="solid2">
    <section>
        <span class="resume-h3">
            M.Sc. in Computer Science , Delhi University.
        </span>
        <br>
        <span class="resume-date">2017 - 2019</span>
    </section>
    <section>
        <span class="resume-h3">
            B.Sc. in Computer Science , RKMV (Calcutta University).
        </span>
        <br>
        <span class="resume-date">2014 - 2017</span>
    </section>

</div>